<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
     

  <div class="content">
    <h1 class="title">Bela's Movies</h1>
    <h6 class="titleb">Quentin Tarantino</h6>

    <ul class="product-list">
      <% produtos.forEach(produto => { %>
        <li>
          <a href="/produto?id=<%= produto.id %>">
            <h2><%= produto.productName %></h2>
            <img src="<%= produto.imagePath %>" alt="Imagem do Produto">
            <p><%= produto.productPrice %></p>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>

  <!-- Adicione uma div para criar um espaçamento na parte inferior -->
  <div class="bottom-space"></div>
</body>
</html>
