<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Bela Movie`s</h1>
  <ul>
    <li>
      <a href="/produto">
        <h2>Produto 1</h2>
        <img src="/imagem_produto1.png" alt="Imagem do Produto 1">
        <p>Preço: R$ 100,00</p>
      </a>
    </li>
    <li>
      <a href="/produto">
        <h2>Produto 2</h2>
        <img src="/imagem_produto2.png" alt="Imagem do Produto 2">
        <p>Preço: R$ 120,00</p>
      </a>
    </li>
    <li>
      <a href="/produto">
        <h2>Produto 3</h2>
        <img src="/imagem_produto3.png" alt="Imagem do Produto 3">
        <p>Preço: R$ 80,00</p>
      </a>
    </li>
  </ul>
</body>
</html>
