<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1 class="title">Bela's Movies</h1>
  <h6 class="titleb">Quentin Tarantino</h6>

  <ul>
    <li>
      <a href="/produto">
        <h2>Pulp Fiction</h2>
        <img src="/imagem_produto1.png" alt="Imagem do Produto 1">
        <p>R$ 79,99</p>
      </a>
    </li>
    <li>
      <a href="/produto">
        <h2>Inglourious Basterds</h2>
        <img src="/imagem_produto2.png" alt="Imagem do Produto 2">
        <p>R$ 99,99</p>
      </a>
    </li>
    <li>
      <a href="/produto">
        <h2>Kill Bill</h2>
        <img src="/imagem_produto3.png" alt="Imagem do Produto 3">
        <p>R$ 89,99</p>
      </a>
    </li>
  </ul>
  
</body>
</html>
