<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1 class="title">Luis go!!</h1>
  <h6 class="titleb">Chuteiras</h6>

  <ul>
    <li>
      <a href="/produto">
        <h2>Zoom</h2>
        <img src="/chutes.jpg" alt="Imagem do Produto 1">
        <p>R$ 479,99</p>
      </a>
    </li>
    <li>
      <a href="/produto">
        <h2>Zoom</h2>
        <img src="/chutes.jpg" alt="Imagem do Produto 2">
        <p>R$ 479,99</p>
      </a>
    </li>
    <li>
      <a href="/produto">
        <h2>Zoom</h2>
        <img src="/chutes.jpg" alt="Imagem do Produto 3">
        <p>R$ 479,99</p>
      </a>
    </li>
  </ul>
</body>
</html>
