/* Estilos para o body e a barra de navegação */
body {
  background: linear-gradient(to bottom, #98a8fd, #d8d5e6);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Mantém o conteúdo mínimo para a altura da tela */
  padding-bottom: 50px; /* Espaçamento inferior geral */
}

.navbar {
  background: #5263ff;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Estilos para o conteúdo principal */
.content {
  margin-top: 80px; /* Espaçamento superior */
}

ul.product-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

ul.product-list li {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(21, 10, 117, 0.1);
  border-radius: 8px;
}

ul.product-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

ul.product-list a:hover {
  color: #ff0000;
}

/* Estilos para o título "Bela's Movies" e "Quentin Tarantino" */
.title {
  font-size: 36px;
  color: #0b1469;
  text-align: center;
  margin-bottom: 15px;
  animation: changeColor 3s linear infinite;
}

.titleb {
  font-size: 22px;
  color: #0b1469;
  text-align: center;
  margin-bottom: 10px;
}

/* Estilos para a página de detalhes do produto */
.product-details {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(21, 10, 117, 0.1);
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
}

.product-description {
  max-width: 400px;
  margin: 0 auto;
}

/* Estilos para links dentro da descrição do produto */
.product-description a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.product-description a:hover {
  color: #ff0000;
}

/* Espaçamento na parte inferior da página */
.bottom-space {
  height: 50px; /* Altura do espaçamento na parte inferior */
}

/* Estilo para o botão */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5263ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4050d6;
}
